{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "corejs": 2,
        "targets": {
          "browsers": "ie >= 9"
        },
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    "transform-react-jsx",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
